---
import Layout from "../../../layouts/Layout.astro";
import { getLinksByTitle } from "../../../services/shortlink";
const { title } = Astro.params;
const data = title && (await getLinksByTitle({ title }));
if (!data.url) return Astro.redirect("/404");
---

<Layout title="Edit">
 <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
   <h2
    class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-200"
   >
    Edit my Link
   </h2>
  </div>
  <input id="txt-id-link" class="hidden" value={data.id} />

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
   <form id="form" class="space-y-6">
    <div>
     <label class="block text-sm font-medium leading-6 text-gray-200"
      >Title</label
     >
     <div class="mt-2">
      <input
       type="text"
       id="txt-title"
       value={title}
       required
       placeholder="Example: my_new_url"
       pattern="[a-zA-Z0-9_]+"
       title="Only accepts numbers, letters and '_'"
       class="block w-full rounded-md border-0 p-1.5 text-gray-300 shadow-sm ring-1 ring-inset ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 bg-gray-900"
      />
     </div>
    </div>

    <div>
     <div class="flex items-center justify-between">
      <label class="block text-sm font-medium leading-6 text-gray-200"
       >URL</label
      >
     </div>
     <div class="mt-2">
      <input
       type="text"
       value={data.url}
       placeholder="Example: https://www.linkedin.com/"
       required
       id="txt-url"
       class="block w-full rounded-md border-0 p-1.5 text-gray-300 shadow-sm ring-1 ring-inset ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 bg-gray-900"
      />
     </div>
    </div>

    <div>
     <button
      type="submit"
      id="btn-create"
      class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >Update</button
     >
    </div>
   </form>
  </div>
 </div>
</Layout>
<script>
 const frm = document.getElementById("form");
 import { updateLink } from "../../../services/shortlink";
 const txtTitle = document.getElementById("txt-title") as HTMLInputElement;
 const txtURL = document.getElementById("txt-url") as HTMLInputElement;
 const txtID = document.getElementById("txt-id-link") as HTMLInputElement;
 frm?.addEventListener("submit", async (e) => {
  e.preventDefault();
  await updateLink(txtID.value, txtTitle.value.trim(), txtURL.value.trim());
 });
</script>
