---
import CardLink from "../../components/CardLink.astro";
import Layout from "../../layouts/Layout.astro";
import { getLinkByUser } from "../../services/shortlink";

const user = Astro.cookies.get("user")?.value as string;
const links = await getLinkByUser(user);

if (!Astro.cookies.get("user")?.value) return Astro.redirect("/signin");
---

<Layout title="me">
  <h1 class="p-4 text-white text-3xl font-bold text-center mb-10">
    These are my <span class="text-gradient">Short Links</span>
  </h1>
  
  <a href={Astro.url.origin + "/link/create"}
  class="text-blue-600 border border-blue-600 rounded-md hover:text-gray-200 hover:border-gray-500 p-3 mx-2 font-bold"
  >Create New ShortLink</a>
  
  <main class="p-2 mt-5 grid gap-4">
    <section class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {links.map((link) => <CardLink title={link.title} url={link.url} />)}
    </section>
  </main>
</Layout>
<script></script>
